
@font-face {
    font-family:"Work Sans Light";
    src:url("WorkSans-Light.woff2") format("woff2"),url("WorkSans-Light.woff") format("woff"),url("WorkSans-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        