
@font-face {
    font-family:"Work Sans Medium";
    src:url("WorkSans-Medium.woff2") format("woff2"),url("WorkSans-Medium.woff") format("woff"),url("WorkSans-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        