
@font-face {
    font-family:"Work Sans";
    src:url("WorkSans-Regular.woff2") format("woff2"),url("WorkSans-Regular.woff") format("woff"),url("WorkSans-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        