
@font-face {
    font-family:"Work Sans ExtraBold";
    src:url("WorkSans-ExtraBold.woff2") format("woff2"),url("WorkSans-ExtraBold.woff") format("woff"),url("WorkSans-ExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        