
@font-face {
    font-family:"Work Sans Thin";
    src:url("WorkSans-Thin.woff2") format("woff2"),url("WorkSans-Thin.woff") format("woff"),url("WorkSans-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        