
@font-face {
    font-family:"Work Sans SemiBold";
    src:url("WorkSans-SemiBold.woff2") format("woff2"),url("WorkSans-SemiBold.woff") format("woff"),url("WorkSans-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        